<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,96}</string>
                <key>spriteSourceSize</key>
                <string>{95,96}</string>
                <key>textureRect</key>
                <string>{{1857,464},{95,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{675,859},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{771,859},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{867,859},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{963,859},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{1059,859},{88,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ad_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1978,760},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,14}</string>
                <key>spriteSourceSize</key>
                <string>{12,14}</string>
                <key>textureRect</key>
                <string>{{585,873},{12,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{1273,849},{97,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,110}</string>
                <key>textureRect</key>
                <string>{{1492,512},{100,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,35}</string>
                <key>spriteSourceSize</key>
                <string>{30,35}</string>
                <key>textureRect</key>
                <string>{{1965,874},{30,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,90}</string>
                <key>spriteSourceSize</key>
                <string>{80,90}</string>
                <key>textureRect</key>
                <string>{{1770,561},{80,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,62}</string>
                <key>spriteSourceSize</key>
                <string>{104,62}</string>
                <key>textureRect</key>
                <string>{{1654,753},{104,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1847,412},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blue_yuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1760,753},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,46}</string>
                <key>spriteSourceSize</key>
                <string>{54,46}</string>
                <key>textureRect</key>
                <string>{{1696,464},{54,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box-yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,54}</string>
                <key>spriteSourceSize</key>
                <string>{45,54}</string>
                <key>textureRect</key>
                <string>{{1804,753},{45,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,71}</string>
                <key>spriteSourceSize</key>
                <string>{28,71}</string>
                <key>textureRect</key>
                <string>{{1864,717},{28,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_while.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{44,54}</string>
                <key>textureRect</key>
                <string>{{1804,800},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,87}</string>
                <key>spriteSourceSize</key>
                <string>{227,87}</string>
                <key>textureRect</key>
                <string>{{585,644},{227,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,87}</string>
                <key>spriteSourceSize</key>
                <string>{146,87}</string>
                <key>textureRect</key>
                <string>{{1699,375},{146,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{79,80}</string>
                <key>textureRect</key>
                <string>{{1862,561},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>closeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,37}</string>
                <key>spriteSourceSize</key>
                <string>{32,37}</string>
                <key>textureRect</key>
                <string>{{1530,477},{32,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,182}</string>
                <key>spriteSourceSize</key>
                <string>{171,182}</string>
                <key>textureRect</key>
                <string>{{1307,644},{171,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>curPoint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,88}</string>
                <key>spriteSourceSize</key>
                <string>{55,88}</string>
                <key>textureRect</key>
                <string>{{1596,471},{55,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,213}</string>
                <key>spriteSourceSize</key>
                <string>{426,213}</string>
                <key>textureRect</key>
                <string>{{674,644},{426,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,372}</string>
                <key>spriteSourceSize</key>
                <string>{371,372}</string>
                <key>textureRect</key>
                <string>{{1492,2},{371,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{1866,144},{132,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>giftBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,83}</string>
                <key>spriteSourceSize</key>
                <string>{100,83}</string>
                <key>textureRect</key>
                <string>{{1938,658},{100,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gift_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,155}</string>
                <key>spriteSourceSize</key>
                <string>{132,155}</string>
                <key>textureRect</key>
                <string>{{1866,278},{132,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{1492,477},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heartSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,140}</string>
                <key>spriteSourceSize</key>
                <string>{155,140}</string>
                <key>textureRect</key>
                <string>{{1866,2},{155,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hintSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,112}</string>
                <key>spriteSourceSize</key>
                <string>{108,112}</string>
                <key>textureRect</key>
                <string>{{1589,819},{108,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,70}</string>
                <key>spriteSourceSize</key>
                <string>{69,70}</string>
                <key>textureRect</key>
                <string>{{1864,747},{69,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{601,873},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1492,375},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,59}</string>
                <key>spriteSourceSize</key>
                <string>{52,59}</string>
                <key>textureRect</key>
                <string>{{536,887},{52,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{1654,644},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_share1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{57,54}</string>
                <key>textureRect</key>
                <string>{{1594,375},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_video.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{1653,512},{70,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inviteSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{475,887},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inviteSprite1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{1654,375},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>itemRoad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,945}</string>
                <key>spriteSourceSize</key>
                <string>{350,945}</string>
                <key>textureRect</key>
                <string>{{2,2},{350,945}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,113}</string>
                <key>spriteSourceSize</key>
                <string>{110,113}</string>
                <key>textureRect</key>
                <string>{{1477,828},{110,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>level_box_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,106}</string>
                <key>spriteSourceSize</key>
                <string>{103,106}</string>
                <key>textureRect</key>
                <string>{{1860,818},{103,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,203}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{1102,644},{203,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,10}</string>
                <key>spriteSourceSize</key>
                <string>{6,10}</string>
                <key>textureRect</key>
                <string>{{590,887},{6,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>line1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{10,6}</string>
                <key>spriteSourceSize</key>
                <string>{10,6}</string>
                <key>textureRect</key>
                <string>{{590,899},{10,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,31}</string>
                <key>spriteSourceSize</key>
                <string>{25,31}</string>
                <key>textureRect</key>
                <string>{{1569,477},{25,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lockSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,35}</string>
                <key>spriteSourceSize</key>
                <string>{25,35}</string>
                <key>textureRect</key>
                <string>{{1725,512},{25,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mainBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,1136}</string>
                <key>spriteSourceSize</key>
                <string>{640,1136}</string>
                <key>textureRect</key>
                <string>{{354,2},{640,1136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{1759,644},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,40}</string>
                <key>textureRect</key>
                <string>{{1654,453},{57,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{1594,431},{57,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>page1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1965,836},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>play_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,47}</string>
                <key>spriteSourceSize</key>
                <string>{70,47}</string>
                <key>textureRect</key>
                <string>{{1955,476},{70,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,107}</string>
                <key>spriteSourceSize</key>
                <string>{103,107}</string>
                <key>textureRect</key>
                <string>{{1699,818},{103,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rankBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,77}</string>
                <key>spriteSourceSize</key>
                <string>{95,77}</string>
                <key>textureRect</key>
                <string>{{1943,561},{95,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>red_yuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,37}</string>
                <key>spriteSourceSize</key>
                <string>{36,37}</string>
                <key>textureRect</key>
                <string>{{1978,798},{36,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,62}</string>
                <key>spriteSourceSize</key>
                <string>{67,62}</string>
                <key>textureRect</key>
                <string>{{1955,412},{67,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1864,643},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_die.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{1699,927},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_help_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,15}</string>
                <key>spriteSourceSize</key>
                <string>{43,15}</string>
                <key>textureRect</key>
                <string>{{1307,828},{43,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>role_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,15}</string>
                <key>spriteSourceSize</key>
                <string>{43,15}</string>
                <key>textureRect</key>
                <string>{{1352,828},{43,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>settingBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{1804,846},{52,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shooting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,172}</string>
                <key>spriteSourceSize</key>
                <string>{173,172}</string>
                <key>textureRect</key>
                <string>{{1480,644},{173,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1594,561},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>smallBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,86}</string>
                <key>spriteSourceSize</key>
                <string>{81,86}</string>
                <key>textureRect</key>
                <string>{{1682,561},{81,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,95}</string>
                <key>spriteSourceSize</key>
                <string>{103,95}</string>
                <key>textureRect</key>
                <string>{{1752,464},{103,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{409,887},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,229}</string>
                <key>spriteSourceSize</key>
                <string>{241,229}</string>
                <key>textureRect</key>
                <string>{{354,644},{241,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>starSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{1804,897},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>step.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{98,116}</string>
                <key>textureRect</key>
                <string>{{1155,849},{98,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>timeSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{1374,845},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>videoAddBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{1654,414},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>videoSprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,53}</string>
                <key>textureRect</key>
                <string>{{354,887},{60,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{1899,412},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1936,760},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{2024,949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7654c0a9d648bc15d9b43e31883041a9:c77a7cede6f8156876eee8e8b947f545:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
